body{
    background-color: lightgray;
}
table {
    width:90%;
    margin: 0 auto;
    text-align:center;
    overflow-x:auto;
    background-color:aliceblue;
}

th {
    text-align:center;
    background: #666;
    color: #FFF;
    padding: 5px 10px;
    border-collapse: separate;
    border: 1px solid #000;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    padding:7px;
    border: 1px solid #DDD;
}
#siteName{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
    top: 0;
}
#topHalfSearch{
    padding-top: 200px;
    margin-bottom: 1%;
    height:250px;
    width: 100%;
    background-image: url('../img/football1.jpg');
    background-size:100% 300px;
    border-bottom: 3px solid black;
}
#filterOptionsBox{
    visibility: hidden;
    display: none;
    height: 30px;
    width:60%;
    margin-top:17px;
    padding-right: 3%;
    padding-left: 3%;
    background-color: white;
    border-radius: 5px;
}
#searchResults{
    background-color:lightslategrey;
    border:2px solid gray;
    text-align:center;
    overflow:auto;
    height:325px;
    padding-top:5px;
    bottom:0;
    overflow-x:auto;
}
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
    margin-left: 10px;
    color:Dodgerblue;
}